[include]
	path = ~/.gitconfig.local
#[include]
#	path = ~/.local/share/delta-themes/themes.gitconfig
[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes
	pager = delta
	hooksPath = ~/.git-hooks-global
[interactive]
	diffFilter = delta --color-only
[push]
	default = simple
[diff]
	#colorMoved = default
#[diff]
#	renames = true
#	compactionHeuristic = true
#[credential]
#	helper = ~/bin/git-credential-osxkeychain
[grep]
	lineNumber = true
	patternType = extended
[color "grep"]
	filename = green bold
	match = normal yellow
	linenumber = yellow bold
[merge]
	tool = diffconflicts
[mergetool "diffconflicts"]
	cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
[mergetool]
	keepBackup = false
	prompt = false
[pager]
	grep = false
[user]
	email = 12112+GUI@users.noreply.github.com
	name = Nick Muerdter
	signingkey = 7C517C5A1A14988A
[diff-so-fancy]
	changeHunkIndicators = false
	stripLeadingSymbols = false
	useUnicodeRuler = false
	markEmptyLines = false
[credential]
	helper = osxkeychain
[checkout]
	defaultRemote = origin
[commit]
	gpgsign = true
[diff "sopsdiffer"]
	textconv = sops -d
[diff "minjs"]
	textconv = js-beautify
	cachetextconv = true
[diff "mincss"]
	textconv = js-beautify --css
	cachetextconv = true
#[diff "rails-enc"]
#	textconv = rails encrypted:show 2> /dev/null
#	cachetextconv = false
[pull]
	ff = only
[init]
	defaultBranch = main
[delta]
	#plus-color = "#012800"
	#minus-color = "#340001"
	syntax-theme = ansi-light
	#commit-decoration-style = bold yellow box ul
	file-style = white magenta bold
	file-decoration-style = blue ul ol
	file-modified-label = "# file modified:"
	file-removed-label = "# file removed:"
	file-added-label = "# file added:"
	file-renamed-label = "# file renamed:"
	max-line-length = 2048
	#navigate = true
	#line-numbers = true
	#side-by-side = true
